<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Report</title>

    <meta name="description" content="Source code generated using layoutit.com">
    <meta name="author" content="LayoutIt!">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>
  <body>

  <div class="container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-4"> 
      <address>
        <strong>Report date:</strong> <%= Date.today %>
        <br>
        <strong>Report requester:</strong> INSERT NAME AND SURNAME HERE
        <br>
        <strong>Requester company:</strong> COMPANY NAME HERE
      </address>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>
              Property name
            </th>
            <th>
              Property value
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              debtor_account_number
            </td>
            <td>
              value debtor_account_number
            </td>
          </tr>
           
          <tr>
            <td>
              debtor_account_name
            </td>
            <td>value debtor_account_name</td>
          </tr>

          <tr>
            <td>
              debtor_account_city
            </td>
            <td>value debtor_account_city</td>
          </tr>

          <tr>
            <td>
              debtor_model_number
            </td>
            <td>value debtor_model_number</td>
          </tr>

          <tr>
            <td>
              debtor_reference_number
            </td>
            <td>value debtor_reference_number</td>
          </tr>

          <tr>
            <td>
              debtor_payment_purpose
            </td>
            <td>value debtor_payment_purpose</td>
          </tr>

          <tr>
            <td>
              creditor_model_number
            </td>
            <td>value creditor_model_number</td>
          </tr>

          <tr>
            <td>
              creditor_model_number
            </td>
            <td>value creditor_model_number</td>
          </tr>

          <tr>
            <td>
              creditor_reference_number
            </td>
            <td>value creditor_reference_number</td>
          </tr>

          <tr>
            <td>
              creditor_account_number
            </td>
            <td>value creditor_account_number</td>
          </tr>

          <tr>
            <td>
              payment_method
            </td>
            <td>value payment_method</td>
          </tr>

          <tr>
            <td>
              approval_reference_number
            </td>
            <td>value approval_reference_number</td>
          </tr>

          <tr>
            <td>
              payment_number
            </td>
            <td>value payment_number</td>
          </tr>


          <tr>
            <td>
              transfer_amount
            </td>
            <td>value transfer_amount</td>
          </tr>


          <tr>
            <td>
              currency_date
            </td>
            <td>value currency_date</td>
          </tr>

          <tr>
            <td>
              payment_date
            </td>
            <td>value payment_date</td>
          </tr>

          <tr>
            <td>
              account_city
            </td>
            <td>value currency_date</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div class="col-md-2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-7">&nbsp;</div>
    <div class="col-md-4">
      <p>
        _________________________________
      </p>
      <p>
        NAME AND SURNAME
      </p>
      <p>
        On date: <%= Date.today %>
      </p>
    </div>
  </div>
  </div>
  </body>
</html>